<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="VideoLandiaDB" connectionString="Data Source=NITRO5-MATHEUS\MSSQLSERVER17;Initial Catalog=VideoLandiaDB;User ID=sa;Password=saadmin;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>